In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import csv

In [21]:
noc_region_df = pd.read_csv("./Data/noc_regions.csv")
athlete_events_df = pd.read_csv("./Data/athlete_events.csv")
print(athlete_events_df.columns)
print("Number of rows: " + str(len(athlete_events_df)))

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')
Number of rows: 271116

In [23]:
athlete_events_df.sample(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
212811,106861,Marlies Schild (-Raich),F,28.0,172.0,66.0,Austria,AUT,2010 Winter,2010,Winter,Vancouver,Alpine Skiing,Alpine Skiing Women's Slalom,Silver
214762,107828,"Andreas ""Andi"" Schwaller",M,31.0,174.0,72.0,Switzerland,SUI,2002 Winter,2002,Winter,Salt Lake City,Curling,Curling Men's Curling,Bronze
108415,54808,Jiao Liuyang,F,20.0,172.0,63.0,China,CHN,2012 Summer,2012,Summer,London,Swimming,Swimming Women's 200 metres Butterfly,Gold
80878,41069,Ancua Elena Goia,F,16.0,NaN,NaN,Romania,ROU,1992 Summer,1992,Summer,Barcelona,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Individual,NaN
71947,36607,Gerd Frhmcke,M,25.0,180.0,63.0,West Germany,FRG,1976 Summer,1976,Summer,Montreal,Athletics,"Athletics Men's 3,000 metres Steeplechase",NaN

In [24]:
print('Number of unique ID:\t\t\t\t', len(athlete_events_df['ID'].unique()))
print('Number of unique atheletes: \t\t\t',len(athlete_events_df['Name'].unique()))
print('Number of unique Games (i.e 2006 Winter): \t',len(athlete_events_df['Games'].unique()))
print('Number of unique Year: \t\t\t\t',len(athlete_events_df['Year'].unique()))
print('Number of unique host city:\t\t\t',len(athlete_events_df['City'].unique()))
print('Number of unique participate team:\t\t',len(athlete_events_df['Team'].unique()))
print('Number of unique region:\t\t\t',len(athlete_events_df['NOC'].unique()))
print('Number of unique Sport:\t\t\t\t',len(athlete_events_df['Sport'].unique()))
print('Number of unique Sport event:\t\t\t',len(athlete_events_df['Event'].unique()))

Number of unique ID:				 135571
Number of unique atheletes: 			 134732
Number of unique Games (i.e 2006 Winter): 	 51
Number of unique Year: 				 35
Number of unique host city:			 42
Number of unique participate team:		 1184
Number of unique region:			 230
Number of unique Sport:				 66
Number of unique Sport event:			 765

In [25]:
athlete_events_df['Age'].describe()

count    261642.000000
mean         25.556898
std           6.393561
min          10.000000
25%          21.000000
50%          24.000000
75%          28.000000
max          97.000000
Name: Age, dtype: float64

In [26]:
print(athlete_events_df[athlete_events_df['ID'] == 124123])

            ID                   Name Sex  Age  Height  Weight    Team  NOC  \
247890  124123  Georgios D. Vamkaitis   M  NaN     NaN     NaN  Greece  GRE

              Games  Year  Season       City      Sport  \
247890  1904 Summer  1904  Summer  St. Louis  Athletics

                           Event Medal
247890  Athletics Men's Marathon   NaN

athlete_events_df['Year'].describe()

In [28]:
noc_region_df

     NOC       region                 notes
0    AFG  Afghanistan                   NaN
1    AHO      Curacao  Netherlands Antilles
2    ALB      Albania                   NaN
3    ALG      Algeria                   NaN
4    AND      Andorra                   NaN
..   ...          ...                   ...
225  YEM        Yemen                   NaN
226  YMD        Yemen           South Yemen
227  YUG       Serbia            Yugoslavia
228  ZAM       Zambia                   NaN
229  ZIM     Zimbabwe                   NaN

[230 rows x 3 columns]

In [36]:
!pip install tabula-py

Requirement already satisfied: tabula-py in /usr/local/lib/python3.7/dist-packages (2.3.0)
Requirement already satisfied: distro in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.7.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.21.6)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)

In [40]:
from tabula.io import read_pdf
df_all = read_pdf(r"./Data/List-of-National-Olympic-Committees-in-IOC-Protocol-Order.pdf", pages='all', stream = True)

In [41]:
for d in df_all:
    d.set_index('Numbering')

In [42]:
df = df_all[0]
for d in df_all:
    df = pd.concat([df, d])

In [43]:
len(df)

256

In [44]:
df_test = df.drop_duplicates()
len(df_test)

210

In [45]:
df_test

,Numbering,Continental,NOC,English,French
0,Order,Association,NaN,NaN,NaN
1,1,Asia,AFG,Afghanistan,Afghanistan
2,2,Africa,RSA,South Africa,Afrique du Sud
3,3,Europe,ALB,Albania,Albanie
4,4,Africa,ALG,Algeria,Algérie
...,...,...,...,...,...
32,205,Africa,ZAM,Zambia,Zambie
33,206,Africa,ZIM,Zimbabwe,Zimbabwe
34,207,N/A,IOA,Independent Olympic Athletes,Athlètes olympiques indépendants
35,208,N/A,IOP,Independent Olympic Participants,Participants olympiques indépendants
36,209,N/A,EOR,IOC Refugee Olympic Team,Équipe olympique de réfugiés

In [46]:
df_out = df_test[['Numbering','Continental','NOC']]

In [47]:
df_out

   Numbering  Continental  NOC
0      Order  Association  NaN
1          1         Asia  AFG
2          2       Africa  RSA
3          3       Europe  ALB
4          4       Africa  ALG
..       ...          ...  ...
32       205       Africa  ZAM
33       206       Africa  ZIM
34       207          N/A  IOA
35       208          N/A  IOP
36       209          N/A  EOR

[210 rows x 3 columns]

In [49]:
new_noc = noc_region_df.merge(df_out, how='left', left_on= 'NOC', right_on = 'NOC')

In [50]:
new_noc.drop('Numbering', axis = 1)

     NOC       region                 notes Continental
0    AFG  Afghanistan                   NaN        Asia
1    AHO      Curacao  Netherlands Antilles         NaN
2    ALB      Albania                   NaN      Europe
3    ALG      Algeria                   NaN      Africa
4    AND      Andorra                   NaN      Europe
..   ...          ...                   ...         ...
225  YEM        Yemen                   NaN        Asia
226  YMD        Yemen           South Yemen         NaN
227  YUG       Serbia            Yugoslavia         NaN
228  ZAM       Zambia                   NaN      Africa
229  ZIM     Zimbabwe                   NaN      Africa

[230 rows x 4 columns]

In [51]:
print(len(new_noc[new_noc.duplicated(['region'])]))

23

In [53]:
print(len(noc_region_df[noc_region_df.duplicated(['region'])]))

23

In [54]:
new_noc.to_csv('Data/noc_continents.csv')