In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import csv
import os
os.getcwd()
os.chdir('/media/calibretaliation/D/Data-Visualization')

## NEED: ##
+ Preprocessing data
+ Medals groupby NOC over Years/Decades, Medals by sports by continents by years/decades
+ Count Atheletes per continents by sports over years/decades
+ Medals/Atheletes Ratio by continents by sports over Years/decades

## Graphs to show: ##
+ Consider using Mosaic maps or tree map or nested pies
+ Mainly interactive map, maps and mapssss with bar chart on it: Maps for summary (i.e. All-time olympic dominating country/continent)
https://datavizproject.com/data-type/map-bar-chart/
https://datavizproject.com/family/geospatial/
+ OR use gif to show the change of ranking by decades: (take a look at https://www.youtube.com/watch?v=eP88FUL7d_8&ab_channel=DataIsBeautiful for example)
https://towardsdatascience.com/creating-beautiful-gif-with-python-for-your-data-analysis-ac50c618b559

In [8]:
noc_region_df = pd.read_csv("./Data/noc_continents.csv")
athlete_events_df = pd.read_csv("./Data/athlete_events.csv")
df = pd.merge(athlete_events_df, noc_region_df)
df = df.rename(columns={'region':'Region', 'notes':'Notes'}).drop_duplicates()
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Unnamed: 0,Region,Notes,Numbering,Continental
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,41,China,NaN,41.0,Asia
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,41,China,NaN,41.0,Asia
2,602,Abudoureheman,M,22.0,182.0,75.0,China,CHN,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Middleweight,NaN,41,China,NaN,41.0,Asia
3,1463,Ai Linuer,M,25.0,160.0,62.0,China,CHN,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Men's Lightweight, Greco-Roman",NaN,41,China,NaN,41.0,Asia
4,1464,Ai Yanhan,F,14.0,168.0,54.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 200 metres Freestyle,NaN,41,China,NaN,41.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270762,120575,Mamorallo Tjoka,F,23.0,150.0,56.0,Lesotho,LES,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Women's Marathon,NaN,118,Lesotho,NaN,105.0,Africa
270763,120575,Mamorallo Tjoka,F,27.0,150.0,56.0,Lesotho,LES,2012 Summer,2012,Summer,London,Athletics,Athletics Women's Marathon,NaN,118,Lesotho,NaN,105.0,Africa
270764,122166,M'apotlaki Ts'elho,F,15.0,NaN,NaN,Lesotho,LES,1996 Summer,1996,Summer,Atlanta,Athletics,Athletics Women's 4 x 100 metres Relay,NaN,118,Lesotho,NaN,105.0,Africa
270765,122215,Lefa Tsapi,M,23.0,170.0,63.0,Lesotho,LES,1984 Summer,1984,Summer,Los Angeles,Boxing,Boxing Men's Welterweight,NaN,118,Lesotho,NaN,105.0,Africa
270766,122299,Mosolesa Tsie,M,20.0,175.0,75.0,Lesotho,LES,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Welterweight,NaN,118,Lesotho,NaN,105.0,Africa

,Unnamed: 0,NOC,region,notes,Numbering,Continental
1,1,AHO,Curacao,Netherlands Antilles,NaN,NaN
93,93,IOA,Individual Olympic Athletes,Individual Olympic Athletes,207.0,NaN
119,119,LIB,Lebanon,NaN,NaN,NaN
168,168,ROT,NaN,Refugee Olympic Team,NaN,NaN
178,178,SIN,Singapore,NaN,NaN,NaN
213,213,UNK,NaN,Unknown,NaN,NaN